.stripe-onboarding-page {

    .page-title {
        margin: 5rem;
        z-index: 200;
        text-align: center;
    }

    .progress-bar-section {
        width: 30%;
        margin: auto;
    }
}